body {
margin: 0;
padding: 0;
background: #222222;
font-family: Consolas, Arial, Helvetica, Sans-Serif;
font-size: 12px;
color: #00CD00;
}

h1, h2, h3 {
margin: 0;
padding: 0;
font-weight: normal;
color: #00CD00;
}

h1 {
font-size: 2em;
}

h2 {
font-size: 1.8em;
}

h3 {
font-size: 1.6em;
}

p, ul, ol {
margin-top: 0;
line-height: 180%;
}

ul, ol {
}

a {
color: #00CDCD;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

#top {
margin: 0 auto;
padding: 0;
}

/* Header */

#header {
background: linear-gradient(#666666,#222222);
margin: 0 auto;
padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
text-align: center;
margin: 0;
padding-top: 20px;
}

#logo h1, #logo p {
margin: 0;
padding: 0;
}

#logo h1 {
font-size: 3.8em;
color: #EEEEEE;
text-shadow: -1px 1px #000000;
}

#logo p {
margin: 0;
padding: 0px 0 0 2px;
font: normal 14px Georgia, "Times New Roman", Times, serif;
font-style: italic;
color: #00CD00;
} 

#logo a {
text-decoration: none;
font-family: sans-serif;
color: #EEEEEE;
}

#logo a:hover {
text-decoration: underline;
font-family: sans-serif;
color: #EEEEEE;
}

/* Menu */

#menu {
height: 90px;
margin: 0 auto;
padding: 0;
}

#menu ul {
margin: 0;
padding: 50px 0px 0px 0px;
list-style: none;
line-height: normal;
}

#menu li {
float: left;
}

#menu a {
display: block;
width: 130px;
height: 30px;
margin-right: 1px;
padding: 9px 0px 0px 0px;
text-decoration: none;
text-align: center;
font-size: 13px;
font-weight: bold;
color: #00CDCD;
border: none;
}

#menu a:hover, #menu .current_page_item a {
text-decoration: none;
}

#menu .current_page_item a {
padding-left: 0;
}

/* Page */

#page {
margin: 0 auto;
padding: 0px 0px 0px 0px;
}

#page-bgtop {
padding: 20px 0px;
}

/* Content */

#content {
padding: 0px 20px 0px 20px;
}

@media only screen and (orientation: landscape) and (min-width: 1024px){
#content {
float: right;
width: 74%;
padding: 0px 20px 0px 0px;
}
}

.post {
background: #000000;
border: 2px solid #EEEEEE;
border-radius: 5px;
margin-bottom: 40px;
}

.post .title {
height: 33px;
padding: 7px 0px 0px 30px;
background: #EEEEEE;
letter-spacing: -.5px;
color: #000000;
}

.post .title a {
color: #000000;
border: none;
}

.post .meta {
margin-bottom: 30px;
padding: 20px 30px 0px 30px;
text-align: left;
font-family: Consolas, Arial, Helvetica, Sans-Serif;
font-size: 13px;
font-weight: bold;
font-style: italic;
}

.post .meta .date {
float: left;
}

.post .meta .posted {
float: right;
}

.post .meta a {
}

.post .entry {
font-size: 14px;
padding: 0px 30px 20px 30px;
padding-bottom: 20px;
text-align: justify;
}

.links {
padding-top: 20px;
font-size: 12px;
font-weight: bold;
}

/* Sidebar */


#sidebar {
margin: 0px;
padding: 0px 0px 0px 0px;
color: #00CD00;
}

@media only screen and (orientation: landscape) and (min-width: 1024px){
#sidebar {
float: left;
width: 22%;
margin: 0px;
padding: 0px 20px 0px 0px;
color: #00CD00;
}
}

#sidebar ul {
margin: 0;
padding: 0;
list-style: none;
}

#sidebar li {
margin: 0;
padding: 0;
}

#sidebar li ul {
margin: 0px 0px;
padding-bottom: 30px;
}

#sidebar li li {
padding-bottom: 5px;
line-height: 16px;
border-bottom: 1px solid #222222;
margin: 5px 30px 0px;
border-left: none;
}

#sidebar li li span {
display: block;
margin-top: -20px;
padding: 0;
font-size: 11px;
font-style: italic;
}

#sidebar h2 {
height: 38px;
padding-left: 30px;
letter-spacing: -.5px;
font-size: 1.5em;
}

#sidebar p {
margin: 0 0px;
padding: 0px 30px 20px 30px;
text-align: justify;
}

#sidebar a {
border: none;
color: #00CDCD;
}

#sidebar a:hover {
text-decoration: underline;
color: #00CDCD;
}

/* Footer */

#footer {
margin: 0 auto;
padding: 0px 0 15px 0;
background: linear-gradient(#222222,#000000);
font-family: Consolas, Arial, Helvetica, Sans-Serif;
}

#footer p {
margin: 0;
padding-top: 15px;
line-height: normal;
font-size: 9px;
text-align: center;
color: #00CD00;
}

#footer a {
color: #00CDCD;
}

#footer a:hover {
text-decoration: underline;
color: #00CDCD;
}